.model-card {
    display: flex;
    gap: 1rem;
    background: linear-gradient(to right, hsl(224, 39%, 11%), hsl(226, 35%, 7%), hsl(226, 35%, 7%));
    border: 1px solid hsl(224, 39%, 15%);
    border-radius: 10px;
    padding: 16px;
    margin: 10px;
    text-decoration: none;
    width: 50rem;
    height: 25px;
}

.model-card:hover {
    background: linear-gradient(to left, hsl(224, 39%, 11%), hsl(224, 39%, 11%), hsl(226, 35%, 7%));
}

.model-card:hover h2{
    cursor: pointer;
    color: hsl(36, 100%, 50%);
}

.model-card h2{
    margin-top: 0;
    font-size: 0.9rem;
    font-weight: normal;
    color: #f1faee;
}

.model-card p {
    display: none;
}

.model-card:hover p {
    /*display: block;*/
}


.model-card img {
    max-width: 100%;
    height: auto;
}

.model-tags {
    margin-top: 0;
    background: transparent;
}

.model-tag {
    background-color: hsl(204, 30%, 30%);
    padding: 2px 4px;
    margin-right: 4px;
    border-radius: 4px;
    font-size: 0.6rem;
    color: hsl(204, 30%, 80%);
}

.text-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
}